openapi: 3.0.0
info:
  title: 'TransMaster API'
  description: "API for TransMaster\n\nLast updated: 2025-11-01 10:20:59 (Asia/Yekaterinburg)"
  contact:
    name: 'Andrey Voinkov'
    email: voinkov.andrey@yandex.ru
  version: 1.0.0
servers:
  -
    url: 'https://api.transmaster.ru'
    description: 'Production server'
  -
    url: 'https://staging.transmaster.ru'
    description: 'Staging server'
paths:
  /api/blocks:
    get:
      tags:
        - Блоки
      summary: 'Получение списка блоков'
      operationId: 9fe37580c487c60d25e337640be82cd1
      responses:
        '200':
          description: 'Список блоков'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksResponse'
  '/api/blocks/show/{code}':
    get:
      tags:
        - Блоки
      summary: 'Получение блока по CODE'
      operationId: 0993a3e903d9c5ee8f1827ced33e7b34
      parameters:
        -
          name: code
          in: path
          description: 'Code блока'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные блока'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/BlockItem' }
                type: object
  /api/categories:
    get:
      tags:
        - Категории
      summary: 'Получение списка категорий'
      operationId: d64be8cf22516a2864584edd915b9b5b
      responses:
        '200':
          description: 'Список категорий с древовидной структурой'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  /api/feedback:
    post:
      tags:
        - Feedback
      summary: 'Отправить обратную связь'
      operationId: 88d215eddc6a3c7fcc662f4601b8fe48
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '200':
          description: 'Успешная отправка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
        '422':
          description: 'Ошибка валидации'
  /api/expert-column:
    get:
      tags:
        - 'Колонка эксперта'
      summary: 'Получение списка статей колонки эксперта'
      operationId: 7eef2dc1070e8ccf1ff416a0493c059d
      parameters:
        -
          name: tag
          in: query
          description: 'Фильтрация по ID тега'
          required: false
          schema:
            type: integer
        -
          name: pinned
          in: query
          description: 'Фильтрация по закрепленности'
          required: false
          schema:
            type: boolean
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список статей колонки эксперта с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
  '/api/expert-column/show/{slug}':
    get:
      tags:
        - 'Колонка эксперта'
      summary: 'Получение статьи по ID'
      operationId: 562991954c7cc76cd7de74eea2df63b3
      parameters:
        -
          name: slug
          in: path
          description: 'Slug статьи'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные статьи'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsItem'
  /api/newsletter/subscribe:
    post:
      tags:
        - Newsletter
      summary: 'Подписка на рассылку'
      operationId: b5566044d410b30a8a287cb0c5e629a6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeRequest'
      responses:
        '200':
          description: 'Подписка успешно оформлена'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeResponse'
        '422':
          description: 'Ошибка валидации'
  '/api/newsletter/verify/{token}':
    get:
      tags:
        - Newsletter
      summary: 'Подтверждение email по токену'
      operationId: 1b7022bf28b4e665fc6480d82f247250
      parameters:
        -
          name: token
          in: path
          description: 'Токен подтверждения email'
          required: true
          schema:
            type: string
            example: abc123def456...
      responses:
        '200':
          description: 'Email успешно подтвержден'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          description: 'Неверный или устаревший токен'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/api/newsletter/unsubscribe/{token}':
    get:
      tags:
        - Newsletter
      summary: 'Отписка от рассылки по токену'
      operationId: 36578d52e37162df12ac785f4ad91032
      parameters:
        -
          name: token
          in: path
          description: 'Токен отписки'
          required: true
          schema:
            type: string
            example: xyz789uvw012...
      responses:
        '200':
          description: 'Успешная отписка от рассылки'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscribeResponse'
        '400':
          description: 'Невозможно отписаться. Токен недействителен или пользователь уже отписан'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/nomenclatures:
    get:
      tags:
        - Номенклатура
      summary: 'Получение списка номенклатуры'
      operationId: 0b5667b5bb00f80d5b381e80140acc0b
      parameters:
        -
          name: category
          in: query
          description: 'Фильтрация по ID категории'
          required: false
          schema:
            type: integer
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список номенклатуры с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureSearchResponse'
  /api/nomenclatures/search:
    post:
      tags:
        - Номенклатура
      summary: 'Поиск по номенклатуре'
      operationId: ea7b112d6b50b1c481a0a41fd7ec389d
      parameters:
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      requestBody:
        description: 'Параметры поиска номенклатуры'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  description: 'Поисковый запрос'
                  type: string
                  example: клипса
                category_id:
                  description: 'Фильтрация по ID категории'
                  type: integer
                  example: '100'
                filters:
                  description: 'Массив фильтров для уточнения поиска'
                  type: array
                  items: { $ref: '#/components/schemas/SearchFilter' }
              type: object
      responses:
        '200':
          description: 'Результаты поиска по номенклатуре с пагинацией и доступными фильтрами'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureSearchResponse'
  '/api/nomenclatures/{categotyId}':
    get:
      tags:
        - Номенклатура
      summary: 'Получение номенклатуры по ID категории'
      operationId: 9890ad2618d47f94f3aa33e0aa417f47
      parameters:
        -
          name: categotyId
          in: path
          description: 'Идентификатор категории'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Список номенклатуры с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureSearchResponse'
  '/api/nomenclatures/show/{slug}':
    get:
      tags:
        - Номенклатура
      summary: 'Получение номенклатуры по slug'
      operationId: 303f6dc98fef31524f00b6d9e546bc28
      parameters:
        -
          name: slug
          in: path
          description: 'Slug номенклатуры'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные номенклатуры'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureItem'
  /api/pages:
    get:
      tags:
        - Страницы
      summary: 'Получение списка страниц'
      operationId: 69ab29d22f4e05eb513d200574677b03
      parameters:
        -
          name: type
          in: query
          description: 'Фильтрация по типу страницы, информационные страницы и база знаний'
          required: false
          schema:
            type: string
            enum:
              - information
              - knowledge_base
        -
          name: pinned
          in: query
          description: 'Фильтрация по закрепленности'
          required: false
          schema:
            type: boolean
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список страниц с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagesResponse'
  '/api/pages/show/{slug}':
    get:
      tags:
        - Страницы
      summary: 'Получение страницы по slug'
      operationId: 69cb33ca3d30b5e9e1f1594539300a89
      parameters:
        -
          name: slug
          in: path
          description: 'Slug страницы'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные страницы'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageItem'
  /api/shops:
    get:
      tags:
        - Магазины
      summary: 'Получение списка магазинов'
      operationId: d390b5af849350c7dacdae5f70e5205e
      parameters:
        -
          name: type
          in: query
          description: 'Фильтрация по типу магазина'
          required: false
          schema:
            type: string
            enum:
              - online
              - offline
        -
          name: search
          in: query
          description: 'Поиск по названию, адресу, телефону или сайту магазина'
          required: false
          schema:
            type: string
            maxLength: 255
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице (максимум 1000)'
          required: false
          schema:
            type: integer
            maximum: 1000
      responses:
        '200':
          description: 'Список магазинов с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopsResponse'
  '/api/shops/{id}':
    get:
      tags:
        - Магазины
      summary: 'Получение магазина по ID'
      operationId: 23cb973261a232fc08584925068133c9
      parameters:
        -
          name: id
          in: path
          description: 'ID магазина'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Данные магазина'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopItem'
        '404':
          description: 'Магазин не найден'
  /api/last-change:
    get:
      tags:
        - 'Системная информация'
      summary: 'Получение времени последнего изменения данных'
      description: 'Возвращает отметку времени последнего изменения данных в системе. Используется фронтендом для инвалидации кеша.'
      operationId: 105ed7572ec873c51af0009086254c1c
      parameters:
        -
          name: If-None-Match
          in: header
          description: 'ETag предыдущего ответа для проверки изменения (вернет 304 если не изменилось)'
          required: false
          schema:
            type: string
            example: 'W/"d3486ae9136e7856bc42212385ea797094475802"'
      responses:
        '200':
          description: 'Текущая метка времени изменений'
          headers:
            ETag:
              description: 'Хеш содержимого ответа'
              schema:
                type: string
            Cache-Control:
              description: 'Политика кеширования'
              schema:
                type: string
                example: 'public, max-age=5, immutable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastChangeResponse'
        '304':
          description: 'Данные не изменились с прошлого запроса (If-None-Match)'
components:
  schemas:
    Manufacturer:
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Lada
        is_active:
          type: boolean
          example: true
      type: object
    Model:
      properties:
        id:
          type: integer
          example: 1
        auto_manufacturer_id:
          type: integer
          example: 1
        name:
          type: string
          example: '2115'
      type: object
    Modification:
      properties:
        id:
          type: integer
          example: 1
        car_id:
          type: integer
          example: 3095967
        auto_model_id:
          type: integer
          example: 1
        auto_manufacturer_id:
          type: integer
          example: 1
        bodytype:
          type: string
          example: sedan
        modification:
          type: string
          example: Legend
        year_start:
          type: integer
          example: 1988
        year_end:
          type: integer
          example: 2030
        model:
          $ref: '#/components/schemas/Model'
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
      type: object
    Link:
      properties:
        url:
          type: string
          example: vk.com/transmaster
        code:
          type: string
          example: vk
        icon:
          type: string
          example: /storage/icon-vk.svg
          nullable: true
        title:
          type: string
          example: VK
      type: object
    Field:
      properties:
        body:
          type: string
          example: 'ЭТО СПИСОК СОЦ СЕТЕЙ В ФУТЕРЕ'
        code:
          type: string
          example: socials
        file:
          type: string
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        title:
          type: string
          example: 'Соц. сети'
      type: object
    BlockItem:
      properties:
        id:
          type: integer
        name:
          type: string
          example: Футер
        code:
          type: string
          example: footer
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    BlocksResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BlockItem'
      type: object
    CategoryItem:
      properties:
        id:
          type: integer
        parent_id:
          type: integer
          nullable: true
        name:
          type: string
          example: 'Детали выхлопной системы'
        slug:
          type: string
          example: detali-vyxlopnoi-sistemy
        description:
          type: string
          nullable: true
        attachments:
          properties:
            icon:
              type: string
              nullable: true
          type: object
          nullable: true
        pinned:
          description: 'Закреплено на главной'
          type: boolean
        depth:
          type: integer
          example: 0
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
      type: object
    CategoriesResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
      type: object
    FeedbackRequest:
      required:
        - comment
      properties:
        name:
          type: string
          maxLength: 255
          example: 'Иван Иванов'
          nullable: true
        phone:
          type: string
          maxLength: 255
          example: '+79991234567'
          nullable: true
        email:
          type: string
          format: email
          maxLength: 255
          example: user@example.com
          nullable: true
        comment:
          type: string
          maxLength: 1024
          example: 'Это тестовый комментарий'
        type:
          description: "Тип обратной связи. Возможные значения: 'feedback' - обычная обратная связь от пользователей, 'article_suggestion' - предложение статьи для публикации"
          type: string
          enum:
            - feedback
            - article_suggestion
          example: feedback
          nullable: true
      type: object
    FeedbackResponse:
      properties:
        message:
          type: string
          example: 'Запрос успешно отправлен!'
      type: object
    MetaTags:
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        keywords:
          type: string
          nullable: true
      type: object
    NewsItem:
      properties:
        id:
          type: integer
        title:
          type: string
          example: 'Бу! Испугался?'
        body:
          description: Содержимое
          type: string
          example: 'Какая-то статья'
        excerpt:
          description: Аннонс
          type: string
          example: 'Краткая выжимка'
        slug:
          type: string
          example: /expert-column/show/3
        pinned:
          type: boolean
          example: true
        attachments:
          properties:
            files:
              type: array
              items:
                type: string
            images:
              type: array
              items:
                type: string
          type: object
        preview_image:
          description: 'Полный URL пути до preview изображения'
          type: string
          example: 'https://api.transmaster.ru/storage/01K7K0DKN43BBTG74V0X4TKE9J.png'
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagItem'
        related:
          description: 'Связанные статьи'
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
      type: object
    NewsResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        metatags:
          $ref: '#/components/schemas/MetaTags'
      type: object
    SubscribeRequest:
      required:
        - email
      properties:
        email:
          type: string
          format: email
          maxLength: 255
          example: user@example.com
        name:
          type: string
          maxLength: 255
          example: 'Иван Иванов'
          nullable: true
      type: object
    SubscribeResponse:
      properties:
        message:
          type: string
          example: 'Подписка оформлена. Проверьте почту для подтверждения.'
      type: object
    VerifyResponse:
      properties:
        message:
          type: string
          example: 'Email успешно подтвержден!'
      type: object
    UnsubscribeResponse:
      properties:
        message:
          type: string
          example: 'Вы успешно отписались от рассылки.'
      type: object
    ErrorResponse:
      properties:
        message:
          type: string
          example: 'Неверный или устаревший токен.'
      type: object
    NomenclatureCross:
      properties:
        id:
          type: integer
        brand:
          type: string
          example: LADA
        article:
          type: string
          example: '31337'
        comment:
          type: string
          nullable: true
        is_oem:
          type: boolean
      type: object
    PropertyUnit:
      properties:
        name:
          type: string
          example: Метр
        short_name:
          type: string
          example: м
        code:
          type: string
          example: '006'
        international_code:
          type: string
          example: MTR
      type: object
    Property:
      properties:
        name:
          type: string
          example: Высота
        unit_id:
          type: integer
        unit:
          $ref: '#/components/schemas/PropertyUnit'
      type: object
    NomenclatureProperty:
      properties:
        property_id:
          type: integer
        value:
          type: string
        property:
          $ref: '#/components/schemas/Property'
      type: object
    FilterPropertyValue:
      properties:
        value:
          type: string
          example: '5'
        count:
          type: integer
          example: 42
        selected:
          type: boolean
          example: true
      type: object
    FilterProperty:
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: Высота
        unit:
          oneOf:
            -
              $ref: '#/components/schemas/PropertyUnit'
          nullable: true
        values:
          type: array
          items:
            $ref: '#/components/schemas/FilterPropertyValue'
      type: object
    SearchFilter:
      properties:
        property_id:
          type: integer
          example: 2
        value:
          type: string
          example: '5'
      type: object
    Applicability:
      properties:
        id:
          type: integer
          example: 1
        nomenclature_id:
          type: integer
          example: 15
        auto_modification_id:
          type: integer
          example: 1
        comment:
          type: string
          example: 'Устанавливается с правой стороны'
          nullable: true
        modification:
          $ref: '#/components/schemas/Modification'
      type: object
    NomenclatureItem:
      properties:
        id:
          type: integer
        guid:
          type: string
          example: bf3a0627-8845-11e5-84b7-3440b58ef7c3
        article:
          type: string
          example: '8213227100'
        brand:
          type: string
          example: MOBIS
          nullable: true
        manufacturer:
          type: string
          example: HYUNDAI/KIA/MOBIS
        code:
          type: string
          example: '77486'
        slug:
          type: string
          example: klipsa-hyundaikiamobis-8213227100
        unit_id:
          type: integer
        name:
          type: string
          example: 'КЛИПСА HYUNDAI/KIA/MOBIS 8213227100'
        description:
          type: string
          nullable: true
        country:
          type: string
          example: 'КОРЕЯ, РЕСПУБЛИКА'
        attachments:
          type: array
          items:
            type: string
          nullable: true
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureProperty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
        applicabilities:
          type: array
          items:
            $ref: '#/components/schemas/Applicability'
        crosses:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureCross'
        unit:
          $ref: '#/components/schemas/PropertyUnit'
      type: object
    NomenclatureSearchResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        metatags:
          $ref: '#/components/schemas/MetaTags'
        description:
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/FilterProperty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
      type: object
    PageItem:
      properties:
        id:
          type: integer
        name:
          type: string
          example: Контакты
        body:
          type: string
          example: '<p>Текст страницы</p>'
        excerpt:
          description: Аннонс
          type: string
          example: 'Краткая выжимка'
        slug:
          type: string
          example: contacts
        type:
          description: 'Тип страницы: information, front, contact, knowledge_base и т.д.'
          type: string
          example: information
        pinned:
          type: boolean
          example: false
        attachments:
          type: array
          items:
            type: string
        preview_image:
          description: 'Полный URL пути до preview изображения'
          type: string
          example: 'https://api.transmaster.ru/storage/01K7K0DKN43BBTG74V0X4TKE9J.png'
          nullable: true
        fields:
          type: object
          nullable: true
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagItem'
        related:
          description: 'Связанные материалы (вручную выбранные страницы того же типа)'
          type: array
          items:
            $ref: '#/components/schemas/PageItem'
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    PagesResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PageItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagItem'
      type: object
    PaginationLinks:
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
      type: object
    PaginationLinkItem:
      properties:
        url:
          type: string
          nullable: true
        label:
          type: string
        active:
          type: boolean
      type: object
    PaginationMeta:
      properties:
        current_page:
          type: integer
        from:
          type: integer
        last_page:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/PaginationLinkItem'
        path:
          type: string
        per_page:
          type: integer
        to:
          type: integer
        total:
          type: integer
      type: object
    PaginatedResponse:
      properties:
        data:
          type: array
          items:
            type: object
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      type: object
    ShopItem:
      properties:
        id:
          type: integer
        name:
          type: string
          example: 'Магазин автозапчастей'
        address:
          type: string
          example: 'г. Москва, ул. Ленина, д. 1'
          nullable: true
        phone:
          type: string
          example: '+7 (495) 123-45-67'
          nullable: true
        email:
          type: string
          format: email
          example: shop@example.com
          nullable: true
        site:
          type: string
          example: 'https://shop.example.com'
          nullable: true
        type:
          description: 'Тип магазина: online или offline'
          type: string
          enum:
            - online
            - offline
          example: offline
        lat:
          type: number
          format: float
          example: 55.7558
          nullable: true
        lng:
          type: number
          format: float
          example: 37.6176
          nullable: true
        coordinates:
          properties:
            lat:
              type: number
              format: float
              example: 55.7558
            lon:
              type: number
              format: float
              example: 37.6176
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    ShopsResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ShopItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      type: object
    LastChangeResponse:
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2025-09-02T12:34:56Z'
        epoch:
          type: integer
          example: 1756816496
        source:
          type: string
          example: redis-meta
      type: object
    TagItem:
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: 'Экспертный взгляд'
        slug:
          type: string
          example: expert
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2023-12-01T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2023-12-01T10:00:00Z'
      type: object
tags:
  -
    name: Блоки
    description: 'API для работы с блоками сайта'
  -
    name: Категории
    description: 'API для работы с категориями'
  -
    name: Feedback
    description: 'API для работы с обратной связью'
  -
    name: 'Колонка эксперта'
    description: 'API для работы с колонкой эксперта'
  -
    name: Newsletter
    description: 'API для работы с подписками на рассылку'
  -
    name: Номенклатура
    description: 'API для работы с номенклатурой'
  -
    name: Страницы
    description: 'API для работы со страницами'
  -
    name: Магазины
    description: 'API для работы с магазинами'
  -
    name: 'Системная информация'
    description: 'Служебные эндпоинты системы'
