openapi: 3.0.0
info:
  title: 'TransMaster API'
  description: "API for TransMaster\n\nLast updated: 2025-05-05 09:27:24 (Asia/Yekaterinburg)"
  contact:
    name: 'Andrey Voinkov'
    email: voinkov.andrey@yandex.ru
  version: 1.0.0
servers:
  -
    url: 'https://api.transmaster.ru'
    description: 'Production server'
  -
    url: 'https://staging.transmaster.ru'
    description: 'Staging server'
paths:
  /blocks:
    get:
      tags:
        - Блоки
      summary: 'Получение списка блоков'
      operationId: 431c674022dbdf7a53e94dbe33d3a8aa
      responses:
        '200':
          description: 'Список блоков'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksResponse'
  '/blocks/show/{code}':
    get:
      tags:
        - Блоки
      summary: 'Получение блока по CODE'
      operationId: 9e3c536b42d2f673ba791240160379f3
      parameters:
        -
          name: block
          in: path
          description: 'Code блока'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные блока'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/BlockItem' }
                type: object
  /categories:
    get:
      tags:
        - Категории
      summary: 'Получение списка категорий'
      operationId: d40bd4448424bd166f2de3fd62064ac7
      responses:
        '200':
          description: 'Список категорий с древовидной структурой'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  /news:
    get:
      tags:
        - Новости
      summary: 'Получение списка новостей'
      operationId: 6984575858659740ad63e05c94e0a300
      parameters:
        -
          name: tag
          in: query
          description: 'Фильтрация по ID тега'
          required: false
          schema:
            type: integer
        -
          name: pinned
          in: query
          description: 'Фильтрация по закрепленности'
          required: false
          schema:
            type: boolean
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список новостей с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
  '/news/show/{slug}':
    get:
      tags:
        - Новости
      summary: 'Получение новости по ID'
      operationId: 0341265d014ca21e42ecb7d9e5d4076b
      parameters:
        -
          name: slug
          in: path
          description: 'Slug новости'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные новости'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsItem'
  /nomenclatures:
    get:
      tags:
        - Номенклатура
      summary: 'Получение списка номенклатуры'
      operationId: 52661a5dc1515a187cfb538e90ac37fc
      parameters:
        -
          name: category
          in: query
          description: 'Фильтрация по ID категории'
          required: false
          schema:
            type: integer
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список номенклатуры с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureSearchResponse'
  /nomenclatures/search:
    post:
      tags:
        - Номенклатура
      summary: 'Поиск по номенклатуре'
      operationId: 5aff78874e673878acc262b977d260e0
      parameters:
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      requestBody:
        description: 'Параметры поиска номенклатуры'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  description: 'Поисковый запрос'
                  type: string
                  example: клипса
                filters:
                  description: 'Массив фильтров для уточнения поиска'
                  type: array
                  items: { $ref: '#/components/schemas/SearchFilter' }
              type: object
      responses:
        '200':
          description: 'Результаты поиска по номенклатуре с пагинацией и доступными фильтрами'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureSearchResponse'
  '/nomenclatures/{slug}':
    get:
      tags:
        - Номенклатура
      summary: 'Получение номенклатуры по slug'
      operationId: 5e827dc8620bc2664e8392a68d08da6a
      parameters:
        -
          name: slug
          in: path
          description: 'Slug номенклатуры'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные номенклатуры'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureItem'
  /pages:
    get:
      tags:
        - Страницы
      summary: 'Получение списка страниц'
      operationId: c60c1a152b98b39222c38655169b6062
      parameters:
        -
          name: type
          in: query
          description: 'Фильтрация по типу страницы'
          required: false
          schema:
            type: string
        -
          name: pinned
          in: query
          description: 'Фильтрация по закрепленности'
          required: false
          schema:
            type: boolean
        -
          name: page
          in: query
          description: 'Номер страницы пагинации'
          required: false
          schema:
            type: integer
        -
          name: per_page
          in: query
          description: 'Количество записей на странице'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список страниц с пагинацией'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagesResponse'
  '/pages/show/{slug}':
    get:
      tags:
        - Страницы
      summary: 'Получение страницы по slug'
      operationId: 8d3246a0d6105d3039fe089bc367ac42
      parameters:
        -
          name: slug
          in: path
          description: 'Slug страницы'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Данные страницы'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageItem'
components:
  schemas:
    Manufacturer:
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Lada
        is_active:
          type: boolean
          example: true
      type: object
    Model:
      properties:
        id:
          type: integer
          example: 1
        auto_manufacturer_id:
          type: integer
          example: 1
        name:
          type: string
          example: '2115'
      type: object
    Modification:
      properties:
        id:
          type: integer
          example: 1
        car_id:
          type: integer
          example: 3095967
        auto_model_id:
          type: integer
          example: 1
        auto_manufacturer_id:
          type: integer
          example: 1
        bodytype:
          type: string
          example: sedan
        modification:
          type: string
          example: Legend
        year_start:
          type: integer
          example: 1988
        year_end:
          type: integer
          example: 2030
        model:
          $ref: '#/components/schemas/Model'
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
      type: object
    Link:
      properties:
        url:
          type: string
          example: vk.com/transmaster
        code:
          type: string
          example: vk
        icon:
          type: string
          example: /storage/icon-vk.svg
          nullable: true
        title:
          type: string
          example: VK
      type: object
    Field:
      properties:
        body:
          type: string
          example: 'ЭТО СПИСОК СОЦ СЕТЕЙ В ФУТЕРЕ'
        code:
          type: string
          example: socials
        file:
          type: string
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        title:
          type: string
          example: 'Соц. сети'
      type: object
    BlockItem:
      properties:
        id:
          type: integer
        name:
          type: string
          example: Футер
        code:
          type: string
          example: footer
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    BlocksResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BlockItem'
      type: object
    CategoryItem:
      properties:
        id:
          type: integer
        parent_id:
          type: integer
          nullable: true
        name:
          type: string
          example: 'Детали выхлопной системы'
        slug:
          type: string
          example: detali-vyxlopnoi-sistemy
        description:
          type: string
          nullable: true
        attachments:
          properties:
            icon:
              type: string
              nullable: true
          type: object
          nullable: true
        pinned:
          description: 'Закреплено на главной'
          type: boolean
        depth:
          type: integer
          example: 0
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
      type: object
    CategoriesResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
      type: object
    MetaTags:
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        keywords:
          type: string
          nullable: true
      type: object
    NewsItem:
      properties:
        id:
          type: integer
        title:
          type: string
          example: 'Бу! Испугался?'
        body:
          type: string
          example: 'Бу испугался не бойся Я друг, я тебя не обижу Иди сюда, иди ко мне'
        slug:
          type: string
          example: /news/show/3
        pinned:
          type: boolean
          example: true
        attachments:
          properties:
            files:
              type: array
              items:
                type: string
            images:
              type: array
              items:
                type: string
          type: object
        published_at:
          type: string
          format: date-time
          nullable: true
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            properties:
              id:
                type: integer
              name:
                type: string
                example: Новости
              slug:
                type: string
              metatags:
                oneOf:
                  - { $ref: '#/components/schemas/MetaTags' }
                nullable: true
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
            type: object
      type: object
    NewsResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        metatags:
          $ref: '#/components/schemas/MetaTags'
      type: object
    NomenclatureCross:
      properties:
        id:
          type: integer
        brand:
          type: string
          example: LADA
        article:
          type: string
          example: '31337'
        comment:
          type: string
          nullable: true
        is_oem:
          type: boolean
      type: object
    PropertyUnit:
      properties:
        name:
          type: string
          example: Метр
        short_name:
          type: string
          example: м
        code:
          type: string
          example: '006'
        international_code:
          type: string
          example: MTR
      type: object
    Property:
      properties:
        name:
          type: string
          example: Высота
        unit_id:
          type: integer
        unit:
          $ref: '#/components/schemas/PropertyUnit'
      type: object
    NomenclatureProperty:
      properties:
        property_id:
          type: integer
        value:
          type: string
        property:
          $ref: '#/components/schemas/Property'
      type: object
    FilterPropertyValue:
      properties:
        value:
          type: string
          example: '5'
        count:
          type: integer
          example: 42
        selected:
          type: boolean
          example: true
      type: object
    FilterProperty:
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: Высота
        unit:
          oneOf:
            -
              $ref: '#/components/schemas/PropertyUnit'
          nullable: true
        values:
          type: array
          items:
            $ref: '#/components/schemas/FilterPropertyValue'
      type: object
    SearchFilter:
      properties:
        property_id:
          type: integer
          example: 2
        value:
          type: string
          example: '5'
      type: object
    Applicability:
      properties:
        id:
          type: integer
          example: 1
        nomenclature_id:
          type: integer
          example: 15
        auto_modification_id:
          type: integer
          example: 1
        comment:
          type: string
          example: 'Устанавливается с правой стороны'
          nullable: true
        modification:
          $ref: '#/components/schemas/Modification'
      type: object
    NomenclatureItem:
      properties:
        id:
          type: integer
        guid:
          type: string
          example: bf3a0627-8845-11e5-84b7-3440b58ef7c3
        article:
          type: string
          example: '8213227100'
        brand:
          type: string
          example: MOBIS
          nullable: true
        manufacturer:
          type: string
          example: HYUNDAI/KIA/MOBIS
        code:
          type: string
          example: '77486'
        slug:
          type: string
          example: klipsa-hyundaikiamobis-8213227100
        unit_id:
          type: integer
        name:
          type: string
          example: 'КЛИПСА HYUNDAI/KIA/MOBIS 8213227100'
        description:
          type: string
          nullable: true
        country:
          type: string
          example: 'КОРЕЯ, РЕСПУБЛИКА'
        attachments:
          type: array
          items:
            type: string
          nullable: true
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureProperty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
        applicabilities:
          type: array
          items:
            $ref: '#/components/schemas/Applicability'
        crosses:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureCross'
      type: object
    NomenclatureSearchResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        metatags:
          $ref: '#/components/schemas/MetaTags'
        description:
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/FilterProperty'
      type: object
    PageItem:
      properties:
        id:
          type: integer
        name:
          type: string
          example: Контакты
        body:
          type: string
          example: '<p>Текст страницы</p>'
        slug:
          type: string
          example: contacts
        type:
          description: 'Тип страницы: information, front, contact, knowledge_base и т.д.'
          type: string
          example: information
        pinned:
          type: boolean
          example: false
        attachments:
          type: array
          items:
            type: string
        fields:
          type: object
          nullable: true
        metatags:
          oneOf:
            -
              $ref: '#/components/schemas/MetaTags'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    PagesResponse:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PageItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      type: object
    PaginationLinks:
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
      type: object
    PaginationLinkItem:
      properties:
        url:
          type: string
          nullable: true
        label:
          type: string
        active:
          type: boolean
      type: object
    PaginationMeta:
      properties:
        current_page:
          type: integer
        from:
          type: integer
        last_page:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/PaginationLinkItem'
        path:
          type: string
        per_page:
          type: integer
        to:
          type: integer
        total:
          type: integer
      type: object
    PaginatedResponse:
      properties:
        data:
          type: array
          items:
            type: object
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      type: object
tags:
  -
    name: Блоки
    description: 'API для работы с блоками сайта'
  -
    name: Категории
    description: 'API для работы с категориями'
  -
    name: Новости
    description: 'API для работы с новостями'
  -
    name: Номенклатура
    description: 'API для работы с номенклатурой'
  -
    name: Страницы
    description: 'API для работы со страницами'
