openapi: 3.0.0
info:
  title: 'TransMaster API'
  description: 'API for TransMaster'
  contact:
    name: 'Andrey Voinkov'
    email: voinkov.andrey@yandex.ru
  version: 1.0.0
servers:
  -
    url: 'https://api.transmaster.com'
    description: 'Production server'
  -
    url: 'https://staging.transmaster.com'
    description: 'Staging server'
paths:
  /news:
    get:
      summary: 'Получение списка новостей'
      operationId: 6984575858659740ad63e05c94e0a300
      parameters:
        -
          name: tag
          in: query
          description: 'Фильтрация по ID тега'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'Список новостей'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsResponse'
  '/news/show/{id}':
    get:
      summary: 'Получение новости по ID'
      operationId: 932b249e392d2a6da8edef77b542bd63
      parameters:
        -
          name: id
          in: path
          description: 'ID новости'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Данные новости'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
components:
  schemas:
    NewsResponse:
      properties:
        id:
          type: integer
        title:
          type: string
        body:
          type: string
        slug:
          type: string
        attachments:
          type: array
          items:
            type: string
        published_at:
          type: string
          format: date-time
          nullable: true
        metatags:
          properties:
            title:
              type: string
              nullable: true
            keywords:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            properties:
              id:
                type: integer
              name:
                type: string
              slug:
                type: string
            type: object
      type: object
